<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success</title>
    <link rel="stylesheet" href="/static/plugin/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/plugin/css/login.css" type="text/css">

    <style>
        .head {
            text-align: center;
            font-size: 30px;
        }

        #imger {
            margin-top: -30px;
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="jumbotron head">
    <p>欢迎新同学，恭喜您注册成功</p>
    <a href="/students/login/">返回登录</a>
</div>
<div>
    <img id="imger" src="/static/m/images/timg.jpg" alt="welcome">
</div>
</body>
</html>