<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
<script type="text/javascript" src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
<script type="text/javascript" src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/css3pie/2.0beta1/PIE_IE678.js"></script>
<![endif]-->
    <link type="text/css" rel="stylesheet" href="/static/company/static/h-ui/css/H-ui.css"/>
    <link type="text/css" rel="stylesheet" href="/static/company/static/h-ui.admin/css/H-ui.admin.css"/>
    <!--[if IE 7]>
<link href="http://www.bootcss.com/p/font-awesome/assets/css/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
    <title>修改密码</title>
</head>
<body>
<div class="pd-20">
    <form class="Huiform" id="lform" action="/company/c_password/" method="POST">
        {% csrf_token %}
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr>
                <th colspan="2">修改密码</th>
            </tr>
            </thead>
            <tbody>
            <tr style="display: none">
                <th class="text-r" width="30%">ID：</th>
                <td><input name="id" id="id" type="text" value="{{ cid }}">
                </td>
            </tr>
            <tr>
                <th class="text-r" width="30%">旧密码：</th>
                <td><input name="oldpassword" id="oldpassword" class="input-text" type="password" autocomplete="off"
                           placeholder="密码" tabindex="1" datatype="*6-16" nullmsg="请输入旧密码！" errormsg="4~16个字符，区分大小写！">
                </td>
            </tr>
            <tr>
                <th class="text-r">新密码：</th>
                <td><input name="newpassword" id="newpassword" class="input-text" type="password" autocomplete="off"
                           placeholder="设置密码" tabindex="2" datatype="*6-16" nullmsg="请输入您的新密码！"
                           errormsg="4~16个字符，区分大小写！">
                </td>
            </tr>
            <tr>
                <th class="text-r">再次输入新密码：</th>
                <td><input name="newpassword2" id="newpassword2" class="input-text" type="password" autocomplete="off"
                           placeholder="确认新密码" tabindex="3" datatype="*" recheck="newpassword" nullmsg="请再输入一次新密码！"
                           errormsg="您两次输入的新密码不一致！">
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <span class="btn btn-success radius" id="save"
                          name="admin-password-save"><i class="icon-ok"></i> 确定
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script type="text/javascript" src="/static/login/js/jQuery.js"></script>

<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/company/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/company/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/company/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/company/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
    $(function () {
        bindpassword();
    });

    function bindpassword() {
        $('#save').click(function () {
            var portData = {};
            $('#lform').find('input').each(function () {
                var v = $(this).val();
                var n = $(this).attr('name');
                portData[n] = v;
            });

            $.ajax({
                url: '/company/c_password/',
                type: 'POST',
                dataType: 'JSON',
                data: portData,
                success: function (arg) {
                    if (arg.status == '0') {
                        layer.msg(arg.mession, {icon: 6, time: 2000});
                        {#alert(arg.mession)#}
                        setTimeout(function () {
                            location.href = arg.link;
                        }, 2000);
                    } else if (arg.status == '1') {
                        layer.msg(arg.mession, {icon: 5, time: 2000});
                        {#alert(arg.mession)#}
                    } else if (arg.status == '2') {
                        layer.msg(arg.mession, {icon: 5, time: 2000});
                        {#alert(arg.mession)#}
                    } else {
                        {#alert(arg.mession)#}
                        layer.msg(arg.mession, {icon: 5, time: 2000});
                    }

                }
            });


        })
    }


</script>
</body>
</html>