{% extends "header_base.html" %}
{% block title %}招聘公告 - 淮北师范大学{% endblock title %}

{% block content %}

    <div class="container css-common-subnav">
        <ul class="subNav">
            <li class="curr"><a href="/m_campus/">招聘公告</a></li>
            <li><a href="/m_jobfair/">招聘会</a></li>
            <li><a href="/m_teachin/">宣讲会</a></li>
            <li><a href="/m_station/">岗位</a></li>
            <li><a href="/m_invite/">招考公告</a></li>
            <li><a href="/m_download/">资料下载</a></li>
        </ul>
        <!-- 快捷菜单 -->
        <!-- 快捷菜单 -->
        <div class="quickMenu" id="quickMenu">
        </div>
        <!-- 快捷菜单完 -->
        <!-- 快捷菜单完 -->
    </div>
    <div class="container cl">
        <div class="mn z view view2" id="mn">
            <div class="infoBox mt10">
                <ul class="infoTit">
                    <li class="span7" style="width:280px">招聘公司</li>
                    <li class="span2" style="width:240px">招聘职位</li>
                    <li class="span1" style="width:240px">工作城市</li>
                    <li class="span4" style="width:100px">面试时间</li>
                </ul>

                <ul class="infoList">
                    {% for row in date_obj %}
                        <li class="span7" style="width:280px"><a href="/m_campus_content?pid={{ row.id }}"
                                                                 target="_blank">{{ row.c_name }}</a>
                        </li>
                        <li class="span2" style="width:240px">{{ row.z_position }}</li>
                        <li class="span1" style="width:240px">{{ row.c_city }}</li>
                        <li class="span4" style="width:100px">{{ row.z_data|date:'Y-m-d h:d' }}</li>
                    {% endfor %}
                    <div class="foot_pages">
                        <div>
                            <ul class="pagination pagination-sm">
                                {{ page_obj.page_str|safe }}
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(function () {
            $('#schRange').MySelector({
                js: ["\u5168\u90e8", "\u6821\u5185\u53d1\u5e03", "\u6821\u5916\u53d1\u5e03"],
                Max: 1,
                title: '范围'
            });
            $('#schCity').MySelector({
                js: 'DataDistrict',
                Max: 5,
                type: 2,
                title: '工作城市'
            });
            $('#schTime').MySelector({
                js: {
                    "0": "\u6240\u6709",
                    "1": "\u8fd11\u5929",
                    "3": "\u8fd13\u5929",
                    "7": "\u8fd11\u5468",
                    "14": "\u8fd12\u5468",
                    "30": "\u8fd11\u6708",
                    "60": "\u8fd12\u6708"
                },
                Max: 1,
                title: '发布时间'
            });

        });
    </script>
    <div style="clear:both;"></div>
{% endblock content %}

