{% extends "header_base.html" %}
{% block title %}淮北师范大学就业信息网{% endblock title %}

{% block content %}
<style>
    .vContent.cl a {
        color: #379BE9;
    }

    .excahngbtn {
        height: 40px;
        width: 80px;
    }

    .info_box {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 10px 23px;
        text-align: center;
        border-radius: 50%;
    }

    .info_box img {
        border-radius: 50%;
    }

    info_box li {
        float: left;
    }

</style>
<div class="container cl">
    <div class="mn z view view2 css-common-view" id="mn">
        {% for row in companys %}
        <div class="viewHead">
            <h1>{{ row.c_name }}</h1>
            <dl class="info">
                <dt><a target="_blank" href="#">{{ row.c_name }}</a></dt>
            </dl>
        </div>
        <ul class="xInfo">
            <li>单位性质：<span>{{ row.c_nature }}</span></li>
            <!-- <li>联系人：<span></span></li> -->
            <li>单位行业：<span>{{ row.c_industry }}</span></li>
            <!-- <li>联系电话：<span></span></li> -->
            <li>单位规模：<span>{{ row.c_scale }}人以上</span></li>
            <!-- <li>电子邮箱：<span></span></li> -->
        </ul>
        <ul class="xInfo xInfo-2 cl">
            <li>工作城市：<span>{{ row.c_city }}</span></li>
            <li>招聘日期：<span>{{ row.z_data|date:'Y-m-d' }}</span></li>
            <li>招聘职位名称：<span>{{ row.z_position }}</span></li>
            <li>招聘人数：<span>{{ row.z_number }}人</span></li>
            <li>月薪：<span>{{ row.z_salary }}</span></li>
            <li>面试时间：<span>{{ row.z_data|date:'Y-m-d' }}</span></li>
            <li>投递邮箱：<span>{{ row.z_email }}</span></li>
        </ul>
        <div class="tabs vTab">
            <ul class="tabTitle">
                <li><a href="#vTab2">详情</a></li>
                <li><a href="#vTab1">请求交流</a></li>
            </ul>
            <div id="vTab2" class="vContent" style="display: block;">
                <p>{{ row.z_detail|safe }}</p>
            </div>
            <div id="vTab1" class="vContent" style="display: block;">
                <div class="infocontainer">
                    <p style="display: none;" id="companyid">{{ row.c_id }}</p>
                    <p style="display: none;" id="zid">{{ row.zid }}</p>
                    <p style="display: none;" id="excahngp">{{ studentId }}</p>
                    <button type="button" class="excahngbtn" id="clickexcahnge">点击添加联系</button>
                    <hr>
                    <div class="studentinfo" id="studentinfo">
                        {% for relation in relations %}
                            <ul class="info_box">
                                <li id="infoli">
                                    <a id="infoa" href="/checkrelation?studentid={{ relation.student_id }}"
                                       title="查看学生信息"><img src="/static/media/user.jpg" width="80" height="80"
                                                           alt=""></a>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                </hr>
        </div>
        {% endfor %}
    </div>
</div>
    <div class="infomation">{% csrf_token %}</div>
<script type="text/javascript">
    $(function () {
        $('#clickexcahnge').click(function () {
            var excahngep = $('#excahngp').html();
            var companyid = $('#companyid').html();
            var zid = $('#zid').html();
            console.log(excahngep);
            console.log(companyid);
            $.ajax({
                type: 'post',
                url: '/exchange/',
                data: {
                    'excahngep': excahngep,
                    'companyid': companyid,
                    'zid': zid,
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (arg) {
                    ret = JSON.parse(arg);
                    if (!ret.status) {
                        alert(ret.mession)
                    } else {
                        alert(ret.mession)
                    }
                }

            });
        })
    });


</script>
<div style="clear:both;"></div>


{% endblock content %}

