{% extends "header_base.html" %}
{% block title %}淮北师范大学就业信息网{% endblock title %}

{% block content %}
        <div class="container cl">
            <div class="side mSide bGrey" id="sd">
                <div class="xTit xTbg cWhite aCenter bt">快捷通道</div>
                <ul class="qlink">
                    <li><a href="/m_student_link/">学生</a></li>
                    <li><a href="/m_danwei_link/">单位</a></li>
                    <li><a href="/m_teacher_link/">教师</a></li>

                </ul>
            </div>
            <div class="con mCon" id="mn">
                <div class="xTit mTit">单位</div>
                <div class="ct cl ct-bg">
                    <dl class="dNav cl">
                        <dt>了解学校</dt>
                        <dd>
                            <a href="#">学校介绍</a>
                            <a href="#">招聘须知</a>
                            <a href="#">院系介绍</a>
                            <a href="#">生源速览</a>
                        </dd>
                    </dl>
                    <dl class="dNav cl">
                        <dt>发布信息</dt>
                        <dd>
                            <a href="#">发布职位</a>
                            <a href="#">招聘公告发布</a>
                            <a href="#">宣讲会场次申请</a>
                            <a href="#">招聘会展位预订</a>
                            <a href="#">人才搜索</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
{% endblock content %}

