{% extends "header_base.html" %}
{% block title %}生源状况 - 淮北师范大学{% endblock title %}

{% block content %}
    <div class="container css-common-subnav">
        <ul class="subNav">
            <li class="curr"><a href="/m_enroliment/">生源状况</a></li>
        </ul>
        <!-- 快捷菜单 -->
        <!-- 快捷菜单 -->
        <div class="quickMenu" id="quickMenu">
        </div>
        <!-- 快捷菜单完 -->
        <!-- 快捷菜单完 -->
    </div>
    <div class="container cl">
        <div class="mn z view view2 infoB" id="mn">
            <div class="xTit mTit">生源状况</div>
            <div class="newsBox">
                {% for row in article %}
                    {% if row.tags_id == 12 %}
                        <ul class="newsList">
                            <li class="span2 y">{{ row.create_time|date:'Y-m-d' }}</li>
                            <li class="span1"><a href="/m_enroliment_content?news_id={{ row.nid }}"
                                                 target="_blank">{{ row.title }}</a></li>
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
{% endblock content %}

