{% extends "header_base.html" %}
{% block title %}淮北师范大学就业信息网{% endblock title %}
{% block js %}
    <link rel="stylesheet" href="/static/plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/m/css/seat.css">
    <link rel="stylesheet" href="/static/slideshow/css/reset.css">
    <link rel="stylesheet" href="/static/slideshow/css/style.css">
    <style>
        .float_box {
            display: inline-block;
            width: 250px;
            height: 100px;
        {#background-color: #DD1144;#} background-image: url(/static/111.jpg);
            border-radius: 5px;
        }

        .float_header {
            color: white;
            font-size: 16px;
            padding-top: 8px;
            border-bottom: 1px solid grey;
        }

        .float_title {
            color: white;
            font-size: 15px;
            padding-top: 4px;
            text-align: left;
            text-indent: 2em;
            font-family: "MicroSoft YaHei";
        }

        .blogroll {
            height: 160px;
            width: 980px;
            box-shadow: 0 0 5px grey;
            margin-bottom: 30px;
            margin-top: 10px;
            background-color: lightgrey;
        }

        .blogroll-title {
            height: 31px;
            line-height: 31px;
            background-color: whitesmoke;
        }

        .blogroll-link {
            height: 110px;
            margin-top: 5px;
        }

        .blogroll-link .link {
            float: left;
            width: 190px;
            height: 55px;
            border: 1px solid gainsboro;
            margin: 3px 3px;
        }

        .blogroll-link .link:hover {
            box-shadow: 0 0 5px dimgrey;
        }

        .slideshow {
            height: 267px;
            width: 265px;
        }

        .responsive {
            height: 267px;
            width: 265px;
        }

        .blogroll-title-title {
            float: left;
            margin: auto 10px;
        }

        .dropdown-menu {
            background-color: rgb(20, 183, 238);
            text-align: center;
        }

        .dropdown-menu li a:hover {
            color: red;
        }

    </style>
{% endblock %}

{% block login %}
    {% if info.status == 'company' %}
        {% for row in name %}
            <span class="login">
                <a href="/company/c_index/?cid={{ row.id }}">{{ row.c_name }}</a>&nbsp;&nbsp;|&nbsp;
&nbsp;                <a href="/m_logout/">退出</a>
            </span>
        {% endfor %}
    {% elif info.status == 'students' %}
        {% for row in sname %}
            <span class="login">
{#                <a href="/students/c_index/?sid={{ row.id }}">{{ row.sname }}</a>&nbsp;&nbsp;|&nbsp;#}
                <a href="/students/index?sid={{ row.id }}">{{ row.sname }}</a>&nbsp;&nbsp;|&nbsp;
&nbsp;                <a href="/students/logout/">退出</a>
            </span>
        {% endfor %}
    {% else %}
        <div>
            <div class="dropdown">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    登陆
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>
                        <a href="/m_login/">企业用户</a>
                    </li>
                    <li>
                        <a href="/students/login/">学生用户</a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block content %}
    {#    巨幕轮播图#}
    <div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/static/m/slide/l1.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="/static/m/slide/l2.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="/static/m/slide/l3.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="/static/m/slide/l4.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img src="/static/m/slide/l5.jpg" alt="...">
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="cl mt10" style="position:relative;">
        <div class="" style="clear:both;margin-bottom:10px;">
        </div>
        <div class="iSide">
            {#            图片新闻#}
            <div class="iSi">
                <div class="it"><b>最新资讯</b></div>
                <div class="slideshow">
                    <div id="slider">
                        <ul class="slides clearfix">
                            {% for row in news_list %}
                                <li>
                                    <a href="/news_detail?id={{ row.id }}" title="{{ row.title }}">
                                        <img class="responsive" src="{{ row.image_url }}" width="265" height="265">
                                    </a>
                                </li>

                            {% endfor %}
                        </ul>
                        <ul class="controls">
                            <li><img src="/static/slideshow/img/prev.png" alt="previous"></li>
                            <li><img src="/static/slideshow/img/next.png" alt="next"></li>
                        </ul>
                        <ul class="pagination">
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#            新闻一#}
            <div class="s1">
                <div class="tabs tab1"><a class="more" href=""></a>
                    <ul class="tabTitle">
                        <li><a href="#tabs-11" rel="/m_news_tzgg/">通知公告</a></li>
                        <li><a href="#tabs-12" rel="/m_news_xwkd/">新闻快递</a></li>
                        <li><a href="#tabs-13" rel="/m_news_xygs/">校内公示</a></li>
                    </ul>
                    <ul id="tabs-11" class="tabCon hide">
                        {% for wz in article %}
                            {#                            {% if wz.tags_id == 1 %}#}
                            {% if wz.tags.title == '通知公告' %}
                                <li>
                                    <a href="/m_news_tzgg_article?news_id={{ wz.nid }}" title="{{ wz.title }}"
                                       target="_blank">{{ wz.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="tabs-12" class="tabCon hide">
                        {% for wz in article %}
                            {% if wz.tags.title == '新闻快递' %}
                                <li>
                                    <a href="/m_news_xwkd_article?news_id={{ wz.nid }}" title="{{ wz.title }}"
                                       target="_blank">{{ wz.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="tabs-13" class="tabCon hide">
                        {% for wz in article %}
                            {% if wz.tags.title == '校园公示' %}
                                <li>
                                    <a href="/m_news_xygs_article?news_id={{ wz.nid }}" title="{{ wz.title }}"
                                       target="_blank">{{ wz.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {#        新闻二#}
        <div class="iCon">
            <div class="s2" style="margin-bottom: 15px">
                <div class="tabs tab2"><a class="more" href=""></a>
                    <ul class="tabTitle">
                        <li><a href="#tabs-25" rel="/m_teachin/">校园宣讲会</a></li>
                        <li><a href="#tabs-23" rel="/m_campus/">招聘公告</a></li>
                        <li><a href="#tabs-24" rel="/m_jobfair/">招聘会</a></li>
                        <li><a href="#tabs-26" rel="/m_station/">职位信息</a></li>
                        <li><a href="#tabs-22" rel="/m_invite/">招考公告</a></li>
                        <li><a href="#tabs-21" rel="/m_invite/">资料下载</a></li>
                    </ul>
                    <ul id="tabs-25" class="tabCon hide">
                        {% for row in teachin %}
                            {% if row.x_status == '1' %}
                                <li>
                                    <span class="pubdate">{{ row.x_time|date:'Y-m-d' }}</span>
                                    <a title="{{ row.x_school }}" class="it2"
                                       href="/m_teachin_content?pid={{ row.id }}">{{ row.x_school }}</a>
                                    <a href="/m_teachin_content?pid={{ row.id }}">
                                        <span style=" text-shadow:0.5px 0.5px 0.5px #dedede;padding-left:7px;">{{ row.x_title }}</span></a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="tabs-23" class="tabCon hide">
                        {% for row in zhaopin %}
                            {% if row.z_position %}
                                <li><span class="pubdate">{{ row.z_data|date:'Y-m-d' }}</span>
                                    <a title="{{ row.z_position }}"
                                       href="/m_campus_content?pid={{ row.z_company_id }}&studentsID={{ studentID }}">{{ row.z_position }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="tabs-24" class="tabCon hide">
                        {% for row in preach_infor %}
                            <li><span class="pubdate">{{ row.i_data|date:'Y-m-d' }}</span>
                                <a title="{{ row.i_name }}" class="it2"
                                   href="/m_jobfair_content?zid={{ row.id }}">{{ row.i_city }}</a><a
                                        href="/m_jobfair_content?zid={{ row.id }}">{{ row.i_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul id="tabs-26" class="tabCon hide">
                        {% for row in zhaopin %}
                            {% for c in company %}
                                {% if row.z_company_id == c.id %}
                                    <li>
                                        <a title="{{ c.c_name }}" href="/m_station_content?pid={{ c.id }}"
                                           target="_blank"
                                           class="css-jobname">{{ c.c_name }}</a>
                                        <span class="pubdate">{{ c.c_create_time|date:'Y-m-d' }}</span>
                                        <span class="">
                            <a target="_blank" href="/m_station_content?pid={{ c.id }}">{{ row.z_position }}</a>,
                            <a target="_blank" href="/m_station_content?pid={{ c.id }}">月薪{{ row.z_salary }}</a>,
                        </span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <ul id="tabs-22" class="tabCon hide">
                        {% for wz in article %}
                            {% if wz.tags.title == '招考公告' %}
                                <li>
                                    <span class="pubdate">{{ wz.create_time|date:'Y-m-d' }}</span>
                                    <a title="{{ wz.title }}"
                                       href="/m_invite_content?news_id={{ wz.nid }}">{{ wz.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="tabs-21" class="tabCon hide">
                        {% for wz in article %}
                            {% if wz.tags.title == '资料下载' %}
                                <li>
                                    <span class="pubdate">{{ wz.create_time|date:'Y-m-d' }}</span>
                                    <a title="{{ wz.title }}"
                                       href="/m_download_content?news_id={{ wz.nid }}">{{ wz.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="s2 mt10">
                <div class="tabs tab2"><a class="more" href=""></a>
                    <ul class="tabTitle">
                        <li><a href="#tabs-31" rel="/m_policy/">政策法规</a></li>
                        <li><a href="#tabs-32" rel="/m_obtain/">就业指导</a></li>
                        <li><a href="#tabs-33" rel="/m_guide/">创业指导</a></li>
                        <li><a href="#tabs-34" rel="/m_education/">创业教育</a></li>
                        <li><a href="#tabs-35" rel="/m_practice/">创业实践</a></li>
                        <li><a href="#tabs-36" rel="/m_elegant/">创业风采</a></li>
                    </ul>
                    <ul id="tabs-31" class="tabCon hide">
                        {% for wz in article %}
                            {% if wz.tags.title == '政策法规' %}
                                <li>
                                    <span class="pubdate">{{ wz.create_time|date:'Y-m-d' }}</span>
                                    <a title="{{ wz.title }}"
                                       href="/m_policy_content?news_id={{ wz.nid }}">{{ wz.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="tabs-32" class="tabCon hide">
                        {% for wz in article %}
                            {% if wz.tags.title == '就业指导' %}
                                <li>
                                    <span class="pubdate">{{ wz.create_time|date:'Y-m-d' }}</span>
                                    <a title="{{ wz.title }}"
                                       href="/m_obtain_content?news_id={{ wz.nid }}">{{ wz.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="tabs-33" class="tabCon hide">
                        {% for wz in article %}
                            {% if wz.tags.title == '创业指导' %}
                                <li>
                                    <span class="pubdate">{{ wz.create_time|date:'Y-m-d' }}</span>
                                    <a title="{{ wz.title }}"
                                       href="/m_guide_content?news_id={{ wz.nid }}">{{ wz.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="tabs-34" class="tabCon hide">
                        {% for wz in article %}
                            {% if wz.tags.title == '创业教育' %}
                                <li>
                                    <span class="pubdate">{{ wz.create_time|date:'Y-m-d' }}</span>
                                    <a title="{{ wz.title }}"
                                       href="/m_education_content?news_id={{ wz.nid }}">{{ wz.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="tabs-35" class="tabCon hide">
                        {% for wz in article %}
                            {% if wz.tags.title == '创业实践' %}
                                <li>
                                    <span class="pubdate">{{ wz.create_time|date:'Y-m-d' }}</span>
                                    <a title="{{ wz.title }}"
                                       href="/m_practice_content?news_id={{ wz.nid }}">{{ wz.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="tabs-36" class="tabCon hide">
                        {% for wz in article %}
                            {% if wz.tags.title == '创业风采' %}
                                <li>
                                    <span class="pubdate">{{ wz.create_time|date:'Y-m-d' }}</span>
                                    <a title="{{ wz.title }}"
                                       href="/m_elegant_content?news_id={{ wz.nid }}">{{ wz.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {#        新闻三#}
        <div class="box_item">
            <div class=" linkpic">
                <a href="#">
                    <img src="/static/m/images/201511162123586515.png"/>
                </a>
                <a target="_blank" href="http://www.91job.gov.cn/">
                    <img src="/static/m/images/201511162126578968.jpg"/>
                </a>
                <a href="#">
                    <img src="/static/m/images/201511162105154045.png"/>
                </a>
                <a href="#">
                    <img src="/static/m/images/201511132149258857.png"/>
                </a>
                <a target="_blank" href="http://www.yingjiesheng.com/">
                    <img src="/static/m/images/201511162251349596.png"/>
                </a>
            </div>
        </div>
    </div>
    {#    友情链接#}
    <div class="blogroll">
        <div class="blogroll-title">
            <div style="float: left">
                <img src="/static/login/img/timg.jpg" height="29" alt="">
            </div>
            <div class="blogroll-title-title">友情链接</div>
        </div>
        <div class="blogroll-link">
            {% for row in blogroll %}
                <div class="link">
                    <a href="{{ row.f_parse_url }}" title="{{ row.f_name }}">
                        <img src="{{ row.f_image_url }}" height="55" width="190" alt="{{ row.f_name }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% for row in float %}
        {% if row.status == '1' %}
            <div id='img0' class="img_ad">
                <div class="ad_content" style="text-align: center;">
                    <a href="/m_float?news={{ row.nid }}" class="float_box">
                        <div>
                            <p class="float_header">{{ row.f_title }}</p>
                            <p class="float_title">{{ row.f_desc }}</p>
                        </div>
                    </a>
                    <div class="ad_close"><a href="javascript:;">关闭</a></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <script src="/static/plugin/bootstrap/js/bootstrap.js"></script>

    <script src="/static/slideshow/dist/easySlider.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#slider").easySlider({
                slideSpeed: 500,
                paginationSpacing: "15px",
                paginationDiameter: "12px",
                paginationPositionFromBottom: "20px",
                slidesClass: ".slides",
                controlsClass: ".controls",
                paginationClass: ".pagination"
            });
        });
    </script>

    <script type="text/javascript">
        var screenWidth = $(window).width();
        var screenHeight = $(window).height();
        var xPos = Math.random() * screenWidth;
        var yPos = Math.random() * screenHeight;
        var step = 1;
        var delay = 30;
        var height = 0;
        var Hoffset = 0;
        var Woffset = 0;
        // var yon = 0;
        var xon = 0;
        var pause = true;
        var interval;

        // imgAd.style.top = yPos;
        function imgAd() {
            $('.img_ad').each(function () {
                $(this).mouseover(function () {
                    $(this).children().children('.ad_close').css('visibility', 'visible');
                    if ($(this).attr('pause') == 'true') {
                        $(this).attr('pause', 'false');
                    } else {
                        $(this).attr('pause', 'true');
                    }
                }).mouseout(function () {
                    $(this).children().children('.ad_close').css('visibility', 'hidden');
                    if ($(this).attr('pause') == 'true') {
                        $(this).attr('pause', 'false');
                    } else {
                        $(this).attr('pause', 'true');
                    }
                });
                start(this, 1, Math.floor(Math.random() * screenWidth), Math.floor(Math.random() * screenHeight));
            })
        }

        $('.ad_close').click(function () {
            // alert('1');
            $(this).parent().parent('.img_ad').remove();
        });

        function changePos(imgAd) {
            imgAd = imgAd;
            width = $(window).width();
            height = $(window).height()
            // height = document.documentElement.clientHeight;
            // height = $(window).height();
            // width = document.body.clientWidth;
            // height = document.body.clientHeight;
            if ($(imgAd).attr('pause') == 'true') {
                $(imgAd).css('left', $(imgAd).attr('xPos') + 'px');
                // console.log($(imgAd).attr('xPos'));
                $(imgAd).css('top', $(imgAd).attr('yPos') + 'px');
                if ($(imgAd).attr('yon') == 1)
                // {yPos = yPos + step;}
                {
                    $(imgAd).attr('yPos', $(imgAd).attr('yPos') - -($(imgAd).attr('step')))
                } else
                // {yPos = yPos - step;}
                {
                    $(imgAd).attr('yPos', $(imgAd).attr('yPos') - $(imgAd).attr('step'))
                }
                if ($(imgAd).attr('yPos') < 1)
                // {yon = 1;yPos = 0;}
                {
                    $(imgAd).attr('yon', 1);
                    $(imgAd).attr('yPos', 1);
                }
                if ($(imgAd).attr('yPos') >= (height - $(imgAd).attr('Hoffset')))
                // {yon = 0;yPos = (height - $(imgAd).attr('Hoffset'));}
                {
                    $(imgAd).attr('yon', 0);
                    $(imgAd).attr('yPos', height - $(imgAd).attr('Hoffset'));
                }
                if ($(imgAd).attr('xon') == 1) {
                    $(imgAd).attr('xPos', $(imgAd).attr('xPos') - -($(imgAd).attr('step')))
                } else {
                    $(imgAd).attr('xPos', $(imgAd).attr('xPos') - $(imgAd).attr('step'))
                }
                if ($(imgAd).attr('xPos') < 1) {
                    $(imgAd).attr('xon', 1);
                    $(imgAd).attr('xPos', 1)
                }
                if ($(imgAd).attr('xPos') >= (width - $(imgAd).attr('Woffset'))) {
                    $(imgAd).attr('xon', 0);
                    $(imgAd).attr('xPos', width - $(imgAd).attr('Woffset'));
                }
            }
        }

        function start(imgAd, step, xPos, yPos) {
            // imgAd.visibility = "visible";
            $(imgAd).attr('step', step);
            // $(imgAd)[0].offsetHeight = $(imgAd).height;
            // $(imgAd)[0].offsetWidth = $(imgAd).width;
            $(imgAd).attr('Hoffset', $(imgAd).height());
            $(imgAd).attr('Woffset', $(imgAd).width());
            $(imgAd).attr('yon', 0);
            $(imgAd).attr('xon', 0);
            $(imgAd).attr('xPos', xPos);
            $(imgAd).attr('yPos', yPos);
            $(imgAd).attr('pause', true);
            $(imgAd).interval = setInterval(function () {
                changePos(imgAd)
            }, delay);
        }

        imgAd();
    </script>
    <div style="clear:both;"></div>

{% endblock content %}

