{% extends "header_base.html" %}
{% block title %}淮北师范大学就业信息网{% endblock title %}

{% block content %}
<div class="container cl">
            <div class="side mSide bGrey" id="sd">
                <div class="xTit xTbg cWhite aCenter bt">快捷通道</div>
                <ul class="qlink">
                    <li><a href="/m_student_link/">学生</a></li>
                    <li><a href="/m_danwei_link/">单位</a></li>
                    <li><a href="/m_teacher_link/">教师</a></li>
                </ul>
            </div>
            <div class="con mCon" id="mn">
                <div class="xTit mTit">学生</div>
                <div class="ct cl ct-bg">
                    <dl class="dNav cl">
                        <dt>就业信息</dt>
                        <dd>
                            <a href="/m_campus/">招聘公告</a>
                            <a href="/m_jobfair/">招聘会</a>
                            <a href="/m_teachin/">宣讲会</a>
                            <a href="/m_station/">岗位信息</a>
                            <a href="/m_invite/">招考公告</a>
                        </dd>
                    </dl>
                    <dl class="dNav cl">
                        <dt>职业辅导</dt>
                        <dd>
                            <a href="/m_obtain">就业指导</a>
                            <a href="#">职业课程</a>
                            <a href="#">活动报名</a>
                            <a href="#">咨询预约</a>
                        </dd>
                    </dl>
                    <dl class="dNav cl">
                        <dt>创业教育</dt>
                        <dd>
                            <a href="/m_education">创业教育</a>
                            <a href="/m_practice/">创业实践</a>
                            <a href="/m_elegant/">创业风采</a>
                        </dd>
                    </dl>
                    <dl class="dNav cl">
                        <dt>就业服务</dt>
                        <dd>
                            <a href="/m_policy/">政策法规</a>
                            <a href="#">办事流程</a>
                            <a href="#">就业调查</a>
                        </dd>
                    </dl>
                    <dl class="dNav cl">
                        <dt>办事大厅</dt>
                        <dd>
                            <a href="#">生源信息核对</a>
                            <a href="#">推荐表注册</a>
                            <a href="#">毕业去向登记</a>
                            <a href="#">报到证查询</a>
                            <a href="#">档案查询</a>
                            <a href="#">就业信息上报</a>
                            <a href="#">报到证信息核对</a>
                            <a href="#">参加全省调查</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
<div style="clear:both;"></div>

{% endblock content %}

